name: Test deployment scripts

'on':
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install Python dependencies
        run: |
          python -m pip install -U pip
          python -m pip install -r deployment/requirements.txt

      - name: Download latest tutorials
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          python deployment/installtutorials.py --dest public/tutorials

      - name: List tutorials
        run: |
          tree public
